*::-webkit-scrollbar {
    height: 9px;
    width: 9px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #FFF0CD;
  }
  